/* assignment-2 */

body {
    background: #ffffff;
    color: #222222;
    padding: 1%;
    margin: 1%;
    font-family: OpenSans, Arial, sans-serif;
}

header {
    background-color: #00b0da;
    background-image: url("../images/flywheel.jpg");
    color: #ffffff;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: 50% 10%;
    background-size: cover;
}

h1 {
    color: #ffffff;
    text-transform: uppercase; 
}

h2 {
    color: #222222;
    text-transform: none;
}

nav a {
    display: inline-block;
    color: #222222;
    text-decoration: none;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
    width: 20%;
    padding: 1%;
    margin: 1%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

nav a:hover {
	color: #ed4e33;
    background: #ffffff;
}

.active {
    color: #ffffff;
    background: #00b0da;
}

aside.left {
    background-color: #fdb515;
    display: inline-block;
    width: 20%;
    height: 100vh;
    float: left;
}

aside a {
    padding: 2%;
    margin-top: 5%;
}

aside img {
    border: 3px solid #ffffff;
    display: block;
    margin: 0 auto;
    width: 75%;
    height: auto;
}

section.right {
    float: left;
    width: 75%;
    padding: .5em;
    box-sizing: border-box;
    margin: .5em;
}

a {
    color: #00b0da;
}

a:hover {
	color: #fdb515;
}

/* assignment-3 */

.right table {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-spacing: 2px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.right tr {
    line-height: 40px;
    height: 40px;
    opacity: .7;
}

.right tr:hover {
    opacity: 1;
}

.right th {
    color: #ffffff;
    text-shadow: 2px 2px #555555;
    background-color: #00b0da;
    -webkit-background-image: linear-gradient(#00b0da, #005266);
    -moz-background-image: linear-gradient(#00b0da, #005266);
    -ms-background-image: linear-gradient(#00b0da, #005266);
    -o-background-image: linear-gradient(#00b0da, #005266);
    background-image: linear-gradient(#00b0da, #005266);
    border: 2px solid #00ccff;
    border-bottom: 5px solid #00ccff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    padding: .25em 1em;
}

.right td {
    color: #555555;
    text-shadow: 1px 1px #ffffff;
    font-weight: 600;
    background-color: #c6ecc6;
    border: 2px solid #f1f3f3;
    padding: 0 1em;
}

.right th:first-child, .right td:first-child {
    text-align: left;
}